@charset "utf-8";




body {
    background: salmon;
}
#conteneur {
    width: 60%;
      margin: 0 auto;
}

header {
    background: olive;
    height: 80px;
}
footer {
    background: maroon;
    height: 70px;
}